.header
  .container
    %li
      Essayer
    %li
      %a{href: '/'} Home
    %li
      %a{href: '#/curate'} Curate
    %li
      %a{href: '/logout'} Logout

.content
  .container{:"ng-controller" => "MainCtrl"}
    %div{class: "ng-view"}
